<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Nissi.Repositorio.Properties.Settings.NissiDataBase"
            connectionString="Data Source=max-pc\sqlexpress;Initial Catalog=NISSI;User ID=sa;Password=Nissi@2009"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
