<?xml version="1.0" encoding="UTF-8"?>
<menu>
  <menuItem>
    <text>Cadastros</text>
    <subMenu>
      <menuItem>
        <text>Emitente</text>
        <url>Emitente/CadastraEmitente.aspx</url>
        <resolveurl>true</resolveurl>
      </menuItem>
      <menuItem>
        <text>Funcionário</text>
        <url>Funcionario/CadastraFuncionario.aspx</url>
        <resolveurl>true</resolveurl>
      </menuItem>
      <menuItem>
        <text>Cargo</text>
        <url>Funcionario/CadastraCargo.aspx</url>
        <resolveurl>true</resolveurl>
      </menuItem>
      <menuItem>
        <text>Departamento</text>
        <url>Funcionario/CadastraDepartamento.aspx</url>
        <resolveurl>true</resolveurl>
      </menuItem>
      <menuItem>
        <text>Cliente</text>
        <url>Cliente/CadastraCliente.aspx</url>
        <resolveurl>true</resolveurl>
      </menuItem>
      <menuItem>
        <text>Fornecedor</text>
        <url>Fornecedor/CadastraFornecedor.aspx</url>
        <resolveurl>true</resolveurl>
      </menuItem>
      <menuItem>
        <text>Transportadora</text>
        <url>Transportadora/CadastraTransportadora.aspx</url>
        <resolveurl>true</resolveurl>
      </menuItem>
      <menuItem>
        <text>Produto</text>
        <url>Produto/CadastraProduto.aspx</url>
        <resolveurl>true</resolveurl>
      </menuItem>
      <menuItem>
        <text>Unidade</text>
        <url>Produto/CadastraUnidade.aspx</url>
        <resolveurl>true</resolveurl>
      </menuItem>
      <menuItem>
        <text>Classificação Fiscal</text>
        <url>Classificado/CadastraClassificado.aspx</url>
        <resolveurl>true</resolveurl>
      </menuItem>
      <menuItem>
        <text>CFOP</text>
        <url>CFOP/CadastraCFOP.aspx</url>
        <resolveurl>true</resolveurl>
      </menuItem>
      <menuItem>
        <text>Mensagem NF-e</text>
        <url>MensagenNF/CadastraMensagemNF.aspx</url>
        <resolveurl>true</resolveurl>
      </menuItem>
      <menuItem>
        <text>Parametro NF-e</text>
        <url>Parametro/NFEParametros.aspx</url>
        <resolveurl>true</resolveurl>
      </menuItem>
    </subMenu>
  </menuItem>
  <menuItem>
    <text>Faturamento</text>
    <subMenu>
      <menuItem>
        <text>Emissão de Nota Fiscal</text>
        <url>NFe/ListaNFe.aspx</url>
        <resolveurl>true</resolveurl>
      </menuItem>
      <menuItem>
        <text>Consulta de Produtos</text>
        <url>Produto/ListaProduto.aspx</url>
        <resolveurl>true</resolveurl>
      </menuItem>
    </subMenu>
  </menuItem>
  <menuItem>
    <text>Emissão</text>
    <subMenu>
      <menuItem>
        <text>Relatórios</text>
        <url>Relatorios/EmitirRelatorios.aspx</url>
        <resolveurl>true</resolveurl>
      </menuItem>
    </subMenu>
  </menuItem>
  <menuItem>
    <text>Sair</text>
    <url>Login.aspx?EfetuarLogoff=S</url>
    <resolveurl>true</resolveurl>
  </menuItem>
</menu>