<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<!--<add name="NissiDataBase" connectionString="Data Source=BP141056;Initial Catalog=NISSI;Integrated Security=SSPI"/>-->
		<add name="NissiDataBase" connectionString="Data Source=ALEXANDRE-PC\SQLEXPRESS2008;Initial Catalog=NISSI;User ID=sa;Password=Drica250479;"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->
		<authentication mode="Windows"/>
		<!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm"/>
         <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
    -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
	<system.serviceModel>
		<services>
			<service name="Nissi.WcfService.Service1" behaviorConfiguration="Nissi.WcfService.Service1Behavior">
				<!-- Service Endpoints -->
				<endpoint address="" binding="wsHttpBinding" contract="Nissi.WcfService.IService1">
					<!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="Nissi.WcfService.Service1Behavior">
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="Service1.svc"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
